body {
    font-family: 'Montserrat', sans-serif;
    color: #1B1C1C;
    background-color: #FFFCFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

.container {
    min-width: 320px;
    padding: 0 24px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-top: 24px;
}

.mob-menu-icon {
    fill: #FFFCFF;
    stroke: #1B1C1C; 
    margin-left: auto;
}



.mob-menu {
    background-color: #EF7568;
    padding-top: 24px;
    padding-bottom: 48px;
    padding-left: 44px;
    padding-right: 24px;
    height: 100vh;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 250ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-close-btn {
    margin-left: auto;
    display: block;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.close-icon {
    fill: rgba(0, 0, 0, 0.25);
}

.mob-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu-nav-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 20px;
}

.nav-item {
    font-weight: 600;
    font-size: 20px;
    color: #fffcff;
    text-shadow:
            -1px -1px 0 rgba(0, 0, 0, 0.25),
            1px -1px 0 rgba(0, 0, 0, 0.25),
            -1px 1px 0 rgba(0, 0, 0, 0.25),
            1px 1px 0 rgba(0, 0, 0, 0.25);
}

.address {
    margin-top: auto;
}

.contacts-list {
    gap: 12px;
}

.contacts-link {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #fffcff;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.25),
        1px -1px 0 rgba(0, 0, 0, 0.25),
        -1px 1px 0 rgba(0, 0, 0, 0.25),
        1px 1px 0 rgba(0, 0, 0, 0.25);
}

.mob-soc-list{
    display: flex;
    gap: 20px;
    margin-top: 56px;
}

.hero {
    background: #1B1C1C;
    background-image: linear-gradient(rgba(36, 33, 33, 0.16), rgba(36, 33, 33, 0.16)), url(/images/hero-mob-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
    width: 320px;
    padding: 140px 0;
    position: relative;
}

.hero-title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #FFFCFF;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.32),
        1px -1px 0 rgba(0, 0, 0, 0.32),
        -1px 1px 0 rgba(0, 0, 0, 0.32),
        1px 1px 0 rgba(0, 0, 0, 0.32);
    text-align: center;
    margin-bottom: 60px;
}

.hero-btn {
    margin: 0 auto;
    display: block;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #fffcff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ee5b4b;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.32);
    padding: 12px 12px;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    
}

/* .hero-btn:hover { */
    /* background-color: #007c6e; */
    
/* } */

.section-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #007c6e;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 56px;
    margin-bottom: 36px;
}

.about-list-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 68px;
}

.about-list-item {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: ;
}

.list-item-text {
    font-size: 16px;
    color: #1B1C1C;
}

.courses-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: auto;
}

.card {
    background-color: #83C5B7;
    border-radius: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 30px;
    min-width: 272px;
}

.courses-list .card:nth-child(even){
    background-color: #FFFCFF;
}

.courses-list .card:nth-child(even) .card-btn {
    color:#1B1C1C;
}

.courses-list .card:nth-child(even) .card-title {
    color: #1B1C1C;
}

.courses-list .card:nth-child(3) {
    background-color: #ee5b4b;
}

.card-img {
    border-radius: 12px;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFCFF;
    margin-top: 6px;
    margin-bottom: 10px;
}

.card-btn {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fffcff;
    border-radius: 12px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(217, 217, 217, 0.53);
    padding: 14px 8px;
    border: none;
    margin: 0 auto;
}

.feedbacks-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 40px;
}

.feedback-card {
    min-width: 272px;
}

.feedback-top {
    border-radius: 12px 12px 0 0;
    border: 1px solid #007c6e;
    padding: 24px;
    height: 276px;
}

.feedback-bottom {
    background-color: #007c6e;
    border-radius: 0 0 12px 12px;
    padding: 24px;
    position: relative;
}

.feedback-bottom p {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fffcff;
}

.feedback-img {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.feedbacks .container {
    padding-bottom: 68px;
}

.footer {
    background-color: #ee5b4b;
    padding-top: 68px;
    padding-bottom: 68px;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fffcff;
}

.footer-soc-list {
    display: flex;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 48px;
    justify-content: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    border-radius: 12px;
    background-color: #fffcff;
    border: none;
    min-width: 220px;
    height: 40px;
    padding-left: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-input:focus {
    outline: none;
    border: 1px solid #1B1C1C;
}

.footer-btn {
    display: flex;
    padding: 12px 36px;
    width: 92px;
    background-color: #007c6e;
    border-radius: 12px;
    border: 1px solid rgba(3, 70, 63, 0.5);
}

.footer-btn-icon {
    fill:#FFFCFF;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {

    .container {
        min-width: 768px;
        padding: 0 60px;
        }

    .hero {
        background-image: linear-gradient(rgba(36, 33, 33, 0.16), rgba(36, 33, 33, 0.16)), url(/images/hero-tab-1x.jpg);
    }

    .footer {
        padding-top: 92px;
        padding-bottom: 92px;
    }

    .footer-soc-list {
       margin-top: 0px;
       margin-bottom: 0px;
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    
}